@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
@import url(./footer.css);
@import url(./header.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  background-color: #0F0F0F;
}

.about_wrap {
  padding: 50px 0;
  width: 80%;
  margin: auto;
}

.logo {
  position: absolute;
  left: 50px;
}

.about_title {
  padding: 200px 0 0 0;
}
.about_title h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 116px;
  word-spacing: 10px;
  letter-spacing: 5px;
  color: #F3E4E4;
  position: relative;
}
.about_title h2::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #8C7878;
  position: absolute;
  bottom: -60px;
  left: 0;
}

.festival {
  width: 100%;
  padding: 50px 0 100px 0;
}
.festival .festival_wrap {
  width: 80%;
  margin: auto;
}
.festival .area_tab {
  padding-bottom: 50px;
}
.festival .area_tab .tab_list {
  width: 700px;
  display: flex;
  justify-content: space-between;
}
.festival .area_tab button {
  cursor: pointer;
  color: #FAF9F5;
  font-size: 24px;
  font-weight: 700;
  width: 180px;
  height: 50px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgb(0, 85, 97);
  box-shadow: 2px 2px 5px #414141;
}
.festival .area_tab .active {
  background-color: #A3A31E;
  box-shadow: 0 0 0;
}
.festival .festival_group .festival_intro {
  margin-top: 50px;
  padding: 30px 0;
  display: flex;
  color: #FAF9F5;
  border-top: 2px solid #DDCB2A;
  border-bottom: 2px solid #DDCB2A;
}
.festival .festival_group .festival_intro .poster {
  width: 30%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.festival .festival_group .festival_intro .poster h3 {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 77px;
  padding: 60px 0 0;
}
.festival .festival_group .festival_intro .poster .pic {
  width: 100%;
  height: 500px;
}
.festival .festival_group .festival_intro .poster .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.festival .festival_group .festival_intro .intro_txt {
  width: 70%;
  padding: 0px 50px 0 0;
  border-left: 1px solid #FAF9F5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 3fr;
  row-gap: 30px;
}
.festival .festival_group .festival_intro .intro_txt h4 {
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 40px;
}
.festival .festival_group .festival_intro .intro_txt p {
  font-size: 22px;
  line-height: 2em;
}
.festival .festival_group .festival_intro .origin {
  grid-row: 1/2;
  grid-column: 1/3;
  padding: 30px 30px 30px 60px;
  border-bottom: 1px solid #FAF9F5;
}
.festival .festival_group .festival_intro .development {
  padding: 0 40px 30px 60px;
  border-right: 1px solid #FAF9F5;
  position: relative;
}
.festival .festival_group .festival_intro .development::before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #0F0F0F;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: -60px;
}
.festival .festival_group .festival_intro .development::after {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #0F0F0F;
  border-radius: 50%;
  position: absolute;
  right: -30px;
  top: -60px;
}
.festival .festival_group .festival_intro .feature {
  padding: 0 40px 30px 60px;
}
.festival .festival_group .two {
  margin-top: 0;
  border-top: none;
}
.festival .festival_group .two .poster {
  order: 1;
}
.festival .festival_group .two .intro_txt {
  padding: 0 0 0 60px;
  border-left: none;
  border-right: 1px solid #FAF9F5;
}
.festival .festival_group .two .origin {
  padding: 30px 30px 30px 40px;
}
.festival .festival_group .two .development {
  padding: 0 40px 30px 40px;
}
.festival .festival_group .two .feature {
  padding: 0px 40px 30px 40px;
  position: relative;
}
.festival .festival_group .two .feature::after {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #0F0F0F;
  border-radius: 50%;
  position: absolute;
  right: -30px;
  top: -60px;
}
.festival .festival_group .three {
  margin-top: 0;
  border-top: none;
}
.festival .center {
  display: none;
}
.festival .south {
  display: none;
}/*# sourceMappingURL=festival.css.map */