* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  z-index: 10;
  top: 10px;
  transition: 1s;
}
header .logo_area {
  width: 320px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .logo_area .logo {
  width: 80px;
  height: 50px;
}
header .logo_area .logo img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 10px;
}
header .logo_area .cn_name, header .logo_area .en_name {
  font-size: 25px;
  position: relative;
  font-weight: 700;
  color: rgba(146, 10, 146, 0.904);
}
header .logo_area .cn_name::after {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #000;
  position: absolute;
  right: -10px;
}
header nav {
  margin-left: auto;
}
header nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav > ul > li {
  margin-right: 15px;
  position: relative;
}
header nav > ul > li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: green;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.3s;
}
header nav > ul > li:hover::after {
  width: 100%;
  left: 0;
}
header nav > ul > li:hover ul {
  display: block;
  top: 55px;
}
header nav > ul > li > a {
  display: inline-block;
  padding: 15px;
  font-size: 22px;
  font-weight: 600;
  color: #23a147;
}
header nav > ul > li ul {
  position: absolute;
  transition: top 0.5s ease-in;
  top: -150px;
  background-color: #fff;
  padding: 8px;
  box-shadow: 0 0 5px rgb(178, 178, 178);
}
header nav > ul > li ul li {
  font-size: 22px;
}
header nav > ul > li ul li a {
  display: inline-block;
  padding-bottom: 10px;
  color: #000;
}
header nav > ul > li ul li a:hover {
  color: #0fb166;
}
header .hamburger_menu {
  position: absolute;
  display: none;
  width: 30px;
  height: 1px;
  background-color: #796e6e;
  right: 40px;
  top: 30px;
}
header .hamburger_menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: -10px;
  background-color: #796e6e;
}
header .hamburger_menu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -10px;
  background-color: #796e6e;
}

.banner {
  width: 100%;
  margin: auto;
  display: flex;
  background-color: #F1F0F0;
  position: relative;
  z-index: 2;
}
.banner .banner_logo {
  order: 1;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner .banner_logo .subscribe {
  position: absolute;
  bottom: 60px;
  right: 40px;
  background-color: #000;
  padding: 10px;
  color: yellow;
  font-size: 14px;
  font-weight: 500;
  border: none;
  transition: 0.5s;
}
.banner .banner_logo .subscribe:hover {
  background-color: yellow;
  color: #000;
}
.banner .banner_logo .logo {
  background-color: #000000;
  text-align: center;
  position: relative;
}
.banner .banner_logo .logo::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgb(69, 66, 66);
  position: absolute;
  left: 30px;
  top: -60px;
  z-index: -1;
}
.banner .banner_logo .title {
  width: 100%;
  height: 100%;
  padding: 50px;
  font-size: 90px;
  text-shadow: 0 0 3px rgb(253, 253, 98);
  color: #fff;
  font-weight: 700;
}
.banner .banner_logo .title span {
  display: block;
}
.banner .banner_logo .title::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 2px;
  background-color: #000;
  top: -30px;
  left: -56px;
}
.banner .banner_logo .title::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 2px;
  background-color: #000;
  bottom: -30px;
  left: 0px;
}
.banner .banner_logo .side_logo {
  display: block;
  position: absolute;
  top: 0;
  color: rgb(0, 0, 0);
  writing-mode: vertical-lr;
  top: 0;
  bottom: 0;
}
.banner .banner_logo .side_logo:nth-of-type(1) {
  right: -1.5em;
  color: #9f9f9f;
  text-shadow: 0 0 1px #ccc;
}
.banner .banner_logo .side_logo:nth-of-type(1) span {
  letter-spacing: 5px;
  display: inline-block;
  padding-bottom: 16px;
}
.banner .banner_logo .side_logo:nth-of-type(2) {
  left: -1.5em;
  text-shadow: 0 0 1px #2d2d2d;
}
.banner .banner_logo .side_logo:nth-of-type(2) span {
  letter-spacing: 5px;
  display: inline-block;
  padding-bottom: 8px;
}
.banner .banner_logo .decoration {
  position: absolute;
  width: 2px;
  height: 30px;
  background-color: #000;
  left: 0px;
}
.banner .banner_logo .decoration1 {
  position: absolute;
  width: 2px;
  height: 30px;
  background-color: #000;
  right: 0px;
  top: -30px;
}
.banner .banner_wrap {
  width: 60%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
}
.banner .banner_wrap .banner_pic {
  width: 100%;
  height: 100%;
  position: relative;
}
.banner .banner_wrap .banner_pic .pic {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  transition: 2s;
}
.banner .banner_wrap .banner_pic .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .banner_wrap .banner_pic .show {
  display: block;
}
.banner .banner_wrap .banner_btn button {
  width: 40px;
  height: 60px;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px black;
  transition: 1s;
  border: none;
  cursor: pointer;
}
.banner .banner_wrap .banner_btn button:hover {
  background-color: #000000;
}
.banner .banner_wrap .banner_btn button:hover i {
  color: yellow;
}
.banner .banner_wrap .banner_btn button i {
  font-size: 20px;
  color: #080808;
  transition: 1s;
}
.banner .banner_wrap .banner_btn button:first-child {
  right: 50px;
}
.banner .banner_wrap .banner_btn button:last-child {
  left: 50px;
}
.banner .banner_wrap .banner_slogan .slogan_item {
  transition: 1s;
  text-align: center;
  width: 450px;
  position: absolute;
  bottom: 10%;
  left: -100%;
  font-size: 40px;
  padding: 10px;
  transform: skewX(15deg);
  background: linear-gradient(to right, rgb(197, 197, 17) 0%, rgb(110, 189, 12));
  color: #fff;
}
.banner .banner_wrap .banner_slogan .show {
  left: 10%;
}
.banner .fade {
  animation: fade 1s linear;
}

@keyframes fade {
  from {
    filter: grayscale(100%);
  }
  to {
    filter: grayscale(0%);
  }
}
.hashtag {
  width: 100%;
  padding: 20px 0 0px;
  background-color: #c5c2c0;
}
.hashtag .marquee {
  width: 100%;
  padding: 0 0 10px 0;
  font-size: 18px;
}
.hashtag .marquee .marquee_box {
  display: flex;
  overflow: hidden;
  position: relative;
  height: 50px;
}
.hashtag .marquee .marquee_box > div {
  display: flex;
  flex-shrink: 0;
  position: absolute;
}
.hashtag .marquee .marquee_box #one {
  animation: marquee 30s linear 1 forwards, marquee_re 56s linear 30s infinite;
}
.hashtag .marquee .marquee_box #one_repeat {
  left: 100%;
  animation: marquee_one 56s linear 2s 1 forwards, marquee_one_re 56s linear 59s infinite;
}
.hashtag .marquee .marquee_box #one_repeat span {
  background-color: #3399c2;
}
.hashtag .marquee .marquee_box #two {
  animation: marquee 30s linear 1 forwards, marquee_re 56s linear 25s 2, marquee_re 56s linear 74s infinite;
}
.hashtag .marquee .marquee_box #two span {
  background-color: #cece35;
}
.hashtag .marquee .marquee_box #two_repeat {
  left: 100%;
  animation: marquee_one 56s linear -1s 1 forwards, marquee_one_re 56s linear 50s infinite;
}
.hashtag .marquee .marquee_box #two_repeat span {
  background-color: #ac3dce;
}
.hashtag .marquee span {
  flex-shrink: 0;
  display: block;
  padding: 5px;
  background-color: #0fb166;
  border-radius: 20px;
  margin-right: 5px;
}

@keyframes marquee {
  from {
    left: 0;
  }
  to {
    left: -120%;
  }
}
@keyframes marquee_re {
  from {
    left: 100%;
  }
  to {
    left: -120%;
  }
}
@keyframes marquee_one {
  from {
    left: 100%;
  }
  to {
    left: -120%;
  }
}
@keyframes marquee_one_re {
  from {
    left: 100%;
  }
  to {
    left: -120%;
  }
}
.timetable {
  width: 100%;
  background-color: #F1F0F0;
  padding: 60px 0;
}
.timetable .wrap {
  width: 1440px;
  margin: auto;
  padding: 20px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 400px 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  border: 1px solid black;
}
.timetable .wrap::-webkit-scrollbar {
  width: 5px;
}
.timetable .wrap::-webkit-scrollbar-track {
  background: #b3ebc3;
}
.timetable .wrap::-webkit-scrollbar-thumb {
  background: #158d08;
}
.timetable .wrap::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.timetable .wrap .title {
  position: relative;
}
.timetable .wrap .title::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../image/timetable.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  border-radius: 10px;
  top: 0;
  left: 0;
}
.timetable .wrap .title h2 {
  font-size: 60px;
  font-weight: 700;
  padding-left: 20px;
  position: sticky;
  top: 0;
  text-shadow: 0 0 5px #aaa;
  z-index: 3;
}
.timetable .wrap .title h2::after {
  content: "";
  display: block;
  width: 90%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  background-color: #353333;
}
.timetable .wrap .title strong {
  display: block;
  padding: 20px 0 0 20px;
  padding-bottom: 20px;
  font-size: 30px;
  color: rgb(87, 7, 7);
  position: sticky;
  top: 70px;
  z-index: 3;
}
.timetable .wrap .title span {
  display: inline-block;
  position: sticky;
  font-size: 25px;
  top: 150px;
  color: rgb(150, 17, 167);
  font-weight: 700;
  z-index: 3;
}
.timetable .wrap .title .countdown_day {
  padding-left: 20px;
}
.timetable .wrap table tr {
  position: relative;
}
.timetable .wrap table tr::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(255, 239, 157);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: top right;
  transition: transform 0.5s ease;
}
.timetable .wrap table tr:hover::after {
  transform: scaleX(1);
  transform-origin: top left;
}
.timetable .wrap table tr td {
  position: relative;
  z-index: 2;
  padding: 15px;
  font-size: 20px;
  font-weight: 700;
}
.timetable .wrap table tr td a {
  display: block;
  color: black;
}
.timetable .wrap table tr td a:focus {
  color: red;
}
.timetable .wrap table tr td:nth-of-type(2) {
  font-size: 22px;
  text-decoration: underline;
  color: rgb(150, 17, 167);
}
.timetable .wrap table tr .tag {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  background-color: #c5c3c3;
  font-size: 15px;
  font-weight: 400;
  border-radius: 10px;
  text-decoration: line-through;
}
.timetable .wrap table tr .soon {
  background-color: #e7f49f;
  text-decoration: none;
}
.timetable .wrap table tr .notyet {
  text-decoration: none;
  background-color: rgb(228, 207, 160);
}

.latest_news {
  width: 100%;
  background-color: #F1F0F0;
  padding: 60px 0;
}
.latest_news .news_wrap {
  width: 1440px;
  margin: auto;
}
.latest_news .news_wrap .news_list {
  width: 1100px;
  padding: 40px 60px;
  margin-left: auto;
  background-color: #FFF8B1;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.latest_news .news_wrap h2 {
  position: absolute;
  right: 0px;
  top: -35px;
  font-size: 60px;
}
.latest_news .news_wrap .news_card {
  width: 46%;
  margin: 2%;
  position: relative;
  left: -420px;
  margin-top: 40px;
}
.latest_news .news_wrap .news_card .txt {
  padding: 10px;
  position: relative;
  border: 1px solid black;
}
.latest_news .news_wrap .news_card .txt::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
  transform: scaleX(0);
  transform-origin: top right;
  transition: transform 0.5s ease;
}
.latest_news .news_wrap .news_card .txt:hover::after {
  transform: scaleX(1);
  transform-origin: top left;
}
.latest_news .news_wrap .news_card .txt span {
  position: relative;
  z-index: 2;
  display: block;
  padding: 5px;
  font-size: 18px;
  font-weight: 600;
}
.latest_news .news_wrap .news_card .txt span:nth-of-type(1) {
  font-size: 22px;
}
.latest_news .news_wrap .news_card .pic {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.latest_news .news_wrap .news_card .pic:hover img {
  transform: scale(1.1);
}
.latest_news .news_wrap .news_card img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  vertical-align: middle;
  transition: 0.5s;
}
.latest_news .news_wrap .news_box {
  width: 91%;
  margin: -50px 0 0 auto;
  padding: 50px 50px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: #D2EACC;
}
.latest_news .news_wrap .news_box table tr {
  display: grid;
  grid-template-columns: 2fr 3fr 8fr;
  grid-template-rows: 1fr;
  text-align: center;
  padding: 15px 10px;
  cursor: pointer;
  position: relative;
}
.latest_news .news_wrap .news_box table tr:hover::after {
  transform: scaleX(1);
  transform-origin: top left;
}
.latest_news .news_wrap .news_box table tr::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
  transform: scaleX(0);
  transform-origin: top right;
  transition: transform 0.5s ease;
}
.latest_news .news_wrap .news_box table tr::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.latest_news .news_wrap .news_box table td {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  z-index: 2;
}
.latest_news .news_wrap .news_box table td:nth-of-type(1) span {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding: 3px 20px;
  border-radius: 20px;
}
.latest_news .news_wrap .news_box table td:nth-of-type(3) {
  -moz-text-align-last: left;
       text-align-last: left;
}
.latest_news .news_wrap .news_box table td a {
  color: black;
}
.latest_news .news_wrap .news_box .more_news {
  display: inline-block;
  padding: 30px 0 20px;
  color: black;
}
.latest_news .news_wrap .news_box .more_news:hover span {
  border-bottom: 1px solid black;
}
.latest_news .news_wrap .news_box .more_news:hover i {
  left: 10px;
}
.latest_news .news_wrap .news_box .more_news span {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.latest_news .news_wrap .news_box .more_news i {
  font-size: 22px;
  position: relative;
}

.interview {
  width: 100%;
  background-color: #F1F0F0;
  padding: 60px 0;
}
.interview .interview_wrap {
  width: 1440px;
  margin: auto;
  background-image: linear-gradient(90deg, hsl(23, 88%, 70%) 10%, transparent);
}
.interview h2 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 50px;
  position: relative;
  top: -30px;
}
.interview .interview_list {
  display: flex;
}
.interview .interview_list .interview_item {
  width: 400px;
  margin: 40px;
  position: relative;
}
.interview .interview_list .interview_item:hover::after {
  top: 0;
  height: 65%;
}
.interview .interview_list .interview_item::after {
  content: "";
  width: 3px;
  height: 30%;
  background-color: #000;
  position: absolute;
  display: block;
  right: -30px;
  top: 150px;
  transition: 0.3s linear;
}
.interview .interview_list .interview_item:nth-of-type(1) .title {
  background-color: #efe92c;
}
.interview .interview_list .interview_item:nth-of-type(1)::after {
  background-color: #efe92c;
}
.interview .interview_list .interview_item:nth-of-type(2) {
  top: 150px;
}
.interview .interview_list .interview_item:nth-of-type(2) .title {
  background-color: #1dd42c;
}
.interview .interview_list .interview_item:nth-of-type(2)::after {
  background-color: #1dd42c;
}
.interview .interview_list .interview_item:nth-of-type(3) {
  top: 300px;
}
.interview .interview_list .interview_item:nth-of-type(3) .title {
  background-color: #F89C13;
}
.interview .interview_list .interview_item:nth-of-type(3)::after {
  background-color: #F89C13;
}
.interview .interview_list .interview_item:nth-of-type(3) .illustration {
  top: -180px;
}
.interview .interview_list .interview_item .pic {
  width: 100%;
  height: 600px;
}
.interview .interview_list .interview_item img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 2;
}
.interview .interview_list .interview_item .txt {
  width: 300px;
  margin: auto;
  padding: 20px;
  position: relative;
  z-index: 2;
  top: -100px;
}
.interview .interview_list .interview_item .txt .title {
  padding: 20px;
  font-size: 22px;
  font-weight: 700;
}
.interview .interview_list .interview_item .txt .title a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
}
.interview .interview_list .interview_item .txt .title a:hover {
  color: #fff;
}
.interview .interview_list .interview_item .txt .title span {
  display: block;
  padding: 10px 0;
}
.interview .interview_list .interview_item .txt .edit_department {
  padding-top: 20px;
  text-align: right;
  font-size: 18px;
}
.interview .interview_list .interview_item .illustration {
  position: absolute;
  width: 100px;
  top: -100px;
  left: 150px;
  z-index: 1;
}
.interview .interview_list .interview_item .illustration img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=home.css.map */