* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #0F0F0F;
}

header {
  width: 100%;
  position: relative;
}
header .hamburger_menu {
  font-family: "Montserrat", sans-serif;
  width: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 11;
  right: 0;
  top: 0;
  background: linear-gradient(357.8deg, #57AD6A 19.33%, #84CC47 47.17%, #0bc8e1 93.66%);
}
header .hamburger_menu .menu_btn_wrap {
  flex-grow: 1;
  padding-top: 30px;
}
header .hamburger_menu .menu_btn {
  width: 45px;
  height: 45px;
  display: block;
  background-color: #FAF9F5;
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
}
header .hamburger_menu .menu_btn:before {
  content: "";
  width: 60%;
  height: 2px;
  background-color: #12c135;
  position: absolute;
  display: block;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}
header .hamburger_menu .menu_btn:after {
  content: "";
  width: 60%;
  height: 2px;
  background-color: #12c135;
  position: absolute;
  display: block;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}
header .hamburger_menu span {
  text-align: center;
  display: block;
  font-size: 18px;
  line-height: 29px;
  color: #FAF9F5;
  font-weight: 500;
}
header .hamburger_menu h2 {
  writing-mode: vertical-lr;
  flex-grow: 2;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 29px;
  color: #FAF9F5;
  letter-spacing: 3px;
}
header #menu:checked ~ nav {
  right: 60px;
}
header #menu:checked ~ .hamburger_menu .menu_btn:before {
  transform: rotate(45deg);
  transform-origin: left bottom;
  left: 25%;
  top: 25%;
}
header #menu:checked ~ .hamburger_menu .menu_btn:after {
  transform: rotate(-45deg);
  transform-origin: left bottom;
  left: 25%;
  top: 70%;
}
header nav {
  font-family: "Montserrat", sans-serif;
  width: 360px;
  height: 100vh;
  position: fixed;
  padding: 50px 0 10px 0;
  right: -360px;
  transition: 1s;
  background-color: #FAF9F5;
  z-index: 10;
}
header nav ul {
  height: 100%;
  display: flex;
  padding: 0 30px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
header nav ul .text_linear {
  background: linear-gradient(180deg, #57AD6A 0%, #84CC47 41.15%, #0DE2FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav ul li {
  font-size: 28px;
}
header nav ul .subscribe {
  background: #FAF9F5;
  background-clip: padding-box;
  border-radius: 16px;
  padding: 0px;
  border: 1px solid transparent;
  position: relative;
  margin-top: 30px;
}
header nav ul .subscribe:hover {
  background-color: rgba(242, 240, 234, 0.6470588235);
}
header nav ul .subscribe:hover button {
  background: linear-gradient(180deg, #16822e 0%, #60aa1e 41.15%, #0e7e8d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav ul .subscribe::after {
  content: "";
  position: absolute;
  inset: -1px -1px -1px -1px;
  background: linear-gradient(180deg, #57AD6A 0%, #84CC47 41.15%, #0DE2FF 100%);
  border-radius: 16px;
  display: block;
  z-index: -1;
}
header nav ul .subscribe button {
  background-color: transparent;
  border: none;
  padding: 20px 60px;
  text-align: center;
  display: block;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
header nav ul .border_image {
  -o-border-image: linear-gradient(#57AD6A 0%, #84CC47 40%, #0DE2FF 100%);
     border-image: linear-gradient(#57AD6A 0%, #84CC47 40%, #0DE2FF 100%);
  border-image-slice: 1;
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 50%;
}
header nav ul a {
  padding: 18px 18px 18px 0;
  display: inline-block;
  font-weight: 700;
  position: relative;
}
header nav ul a::after {
  content: "";
  width: 0;
  height: 1px;
  display: block;
  position: absolute;
  right: 0;
  bottom: -2px;
  transition: 0.5s;
  background: linear-gradient(180deg, #57AD6A 0%, #84CC47 41.15%, #0DE2FF 100%);
}
header nav ul a:hover::after {
  width: 100%;
  left: 0;
}
header nav ul .share {
  margin: 40px 5px;
  text-align: center;
  font-weight: 700;
}
header nav ul .share span {
  display: block;
  margin: 0px 30px 20px;
}
header nav ul .share .social_icon {
  padding: 0px;
}
header nav ul .share .social_icon i {
  display: inline-block;
  padding: 20px;
  position: relative;
  background: #FAF9F5;
  background-clip: padding-box;
  border-radius: 16px;
  border: 1px solid transparent;
  font-size: 26px;
  margin-right: 5px;
  color: #30b19b;
}
header nav ul .share .social_icon i:hover {
  background: rgba(242, 240, 234, 0.6470588235);
}
header nav ul .share .social_icon i::after {
  content: "";
  position: absolute;
  inset: -1px -1px -1px -1px;
  background: linear-gradient(180deg, #57AD6A 0%, #84CC47 41.15%, #0DE2FF 100%);
  border-radius: 16px;
  display: block;
  z-index: -1;
}
header .about_wrap {
  padding: 50px 0;
  width: 80%;
  margin: auto;
}
header .logo {
  position: absolute;
  left: 50px;
}
header .about_title {
  padding: 200px 0 0 0;
}
header .about_title h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 116px;
  word-spacing: 10px;
  letter-spacing: 5px;
  color: #F3E4E4;
  position: relative;
}
header .about_title h2::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #8C7878;
  position: absolute;
  bottom: -60px;
  left: 0;
}

.tickets {
  width: 100%;
  padding: 100px 0;
}
.tickets .tickets_wrap {
  width: 80%;
  margin: auto;
}
.tickets .tickets_wrap h3 {
  color: #FAF9F5;
  font-weight: 400;
  font-size: 50px;
  line-height: 77px;
  padding-bottom: 50px;
}
.tickets .tickets_wrap .popular_tickets {
  padding-bottom: 100px;
}
.tickets .tickets_wrap .popular_tickets .tickets_card_list {
  display: flex;
  justify-content: space-between;
}
.tickets .tickets_wrap .popular_tickets .tickets_card_list a {
  width: 23%;
  display: block;
}
.tickets .tickets_wrap .popular_tickets .tickets_card_list .pic {
  width: 100%;
}
.tickets .tickets_wrap .popular_tickets .tickets_card_list .pic img {
  width: 100%;
  vertical-align: middle;
}
.tickets .tickets_wrap .popular_tickets .tickets_card_list .txt {
  color: #FAF9F5;
  font-size: 28px;
  padding: 20px 0;
  text-align: center;
  background-color: #5F5F5F;
}
.tickets .tickets_wrap .popular_tickets .tickets_card_list .txt span {
  display: block;
}
.tickets .tickets_wrap .popular_tickets .tickets_card_list .txt span:nth-of-type(1) {
  font-weight: 700;
}
.tickets .tickets_wrap .all_tickets li {
  padding-bottom: 50px;
}
.tickets .tickets_wrap .all_tickets li h4 {
  color: #FAF9F5;
  padding: 20px 50px;
  font-weight: 700;
  font-size: 40px;
  background: linear-gradient(90deg, #005561 -10.81%, #A3A31E 99.18%);
  border-radius: 20px;
}
.tickets .tickets_wrap .all_tickets li .tickets_info {
  color: #FAF9F5;
  font-size: 26px;
  padding: 50px 50px;
  border-right: 1px solid #FAF9F5;
  border-left: 1px solid #FAF9F5;
  border-bottom: 1px solid #FAF9F5;
  border-radius: 0 0 20px 20px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr) 300px;
}
.tickets .tickets_wrap .all_tickets li span {
  display: flex;
}
.tickets .tickets_wrap .all_tickets li a {
  margin-left: auto;
  font-size: 30px;
  font-weight: 700;
  color: #FAF9F5;
  display: inline-block;
}
.tickets .tickets_wrap .all_tickets li a:hover {
  color: #34DAC1;
}
.tickets .tickets_wrap .all_tickets li a i {
  font-size: 30px;
  padding: 0 20px;
}/*# sourceMappingURL=tickets.css.map */